body {
  background-color: #ddd;
}
table {
  width: 40%;
  padding-left: 9px;
}
table ~ table {
  border-left: 3px solid black;
}
td {
  /* width: 50%; */
  width: calc(100% / 3);
  padding: 10px 5px;
  /*border: 1px solid black;*/
  height: 30px;
}
.e2 tr td {
  width: calc(100% / 2);
}
.e3 tr td {
  width: calc(100% / 3);
}
.e4 tr td {
  width: calc(100% / 4);
} /* add more for this if more cols are possible */
table tr ~ tr td {
  border-top: 1px solid black;
}
#table-container {
  display: flex;
}
#table-container table {
  flex: 1;
  margin-right: 10px;
}
#table0 {
  left: 0;
}
#table1 {
  right: 0;
}
